.dashboard-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #FAFAD8;
}

.navbar {
  background-color: #ADBC9D;
  display: flex; /* ใช้ flexbox */
  justify-content: center; /* จัดให้ปุ่มอยู่ตรงกลาง */
  gap: 200px; /* ระยะห่างระหว่างปุ่ม */
  margin: 0; /* ลบ margin ของ navbar */
  padding: 10px 0; /* เพิ่ม padding บน-ล่าง */
  width: 100%; /* ให้ navbar ขยายเต็มความกว้าง */
}

.nav-button {
  background-color: #47674F; /* เปลี่ยนสีพื้นหลังของปุ่ม */
  color: white; /* เปลี่ยนสีตัวอักษร */
  border: none; /* ไม่แสดงขอบ */
  border-radius: 5px; /* ทำมุมให้มน */
  padding: 10px 15px; /* เพิ่ม padding สำหรับปุ่ม */
  cursor: pointer; /* เปลี่ยน cursor เมื่อชี้ไปที่ปุ่ม */
  transition: background-color 0.3s; /* เพิ่มการเปลี่ยนสีเมื่อ hover */
}

.nav-button:hover {
  background-color: #47674F; /* เปลี่ยนสีพื้นหลังเมื่อ hover */
}

.warehouse-list {
  padding: 20px;
  flex-grow: 1;
}

.warehouse-table {
  width: 100%;
  border-collapse: collapse;
}

.warehouse-table th,
.warehouse-table td {
  border: 1px solid #47674F;
  padding: 8px;
  text-align: center;
}

.warehouse-table th {
  background-color: #47674F;
  color: white;
}

.text-green {
  color: green;
}

.text-red {
  color: red;
}

.text-orange {
  color: orange;
}

.no-data {
  text-align: center;
  color: gray;
}

.drawer-container {
  background-color: #4A8F59;
  width: 250px;
  padding: 20px;
}

.profile {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.avatar {
  width: 50px;
  height: 50px;
  background-color: #ccc;
  border-radius: 50%;
  margin-right: 10px;
}

.profile-info {
  flex-grow: 1;
}

.logout-button {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.logout-button:hover {
  background-color: #c82333;
}

.custom-appbar {
  background-color: #ADBC9D !important; /* Force the background color */
}



