.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
  padding: 20px;
}

.login-box {
  display: flex;
  background-color: #FFFFFF;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 90%;
  max-width: 800px; /* จำกัดความกว้างสูงสุดของกล่อง */
  height: auto;
}

.login-image img {
  width: 400px;
  height: 100%;
  object-fit: cover;
}

.login-form {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1; /* ให้ใช้พื้นที่ที่เหลืออยู่ */
  background-color: #FAFAD8;
  margin-top: -50px;
}

h2 {
  margin-bottom: 10px;
  font-size: 24px;
  color: #2c3e50;
}

p {
  margin-bottom: 20px;
  color: #000000;
  text-align: justify;
}

.login-input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #bdc3c7;
  border-radius: 4px;
}

.login-button {
  padding: 10px;
  background-color: #B7C4BA;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #ee0000;
}

.login-footer {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.reset-link {
  color: #e74c3c;
  text-decoration: none;
}

.reset-link:hover {
  text-decoration: underline;
}

