.info-container {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    gap: 16px; /* Space between items */
}

.report {
    text-align: center; /* Center the text inside the div */
}
.dashboard-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #FAFAD8;
}
.button-container-report {
    background-color: #ADBC9D;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 0;
    padding: 10px 0;
    width: 100%;
}


.personal-info-report {
    background-color: #ADBC9D; /* สีพื้นหลัง */
    border-radius: 10px; /* มุมมน */
    padding: 20px; /* ระยะห่างภายใน */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* เงาเล็กน้อย */
    margin: 20px auto; /* จัดกึ่งกลางและเพิ่มระยะห่างด้านบนล่าง */
    max-width: 500px; /* กำหนดความกว้างสูงสุด */
    text-align: left; /* จัดเนื้อหาให้อยู่ตรงกลาง */
}

.personal-info-report input[type="text"],
.personal-info-report input[type="email"] {
    width: 100%; /* ความกว้างเต็ม */
    padding: 10px; /* ระยะห่างภายใน */
    margin: 0px; /* ระยะห่างระหว่าง input */
    border-radius: 5px; /* มุมมน */
    border: 1px solid #000000; /* เส้นขอบ */
    box-sizing: border-box; /* ทำให้ padding ไม่ขยายขนาดของ element */
    font-size: 14px; /* ขนาดตัวอักษร */
    margin-bottom: -10px;
  }

p{
    margin-bottom: 20px;
    color: #000000;
    text-align: justify;
}

h2 {
    margin-bottom: 10px;
    font-size: 24px;
    color: #2c3e50;
    margin-left: 10%;
}

.personal-inforepot{
    background-color: #ADBC9D; /* สีพื้นหลัง */
    border-radius: 10px; /* มุมมน */
    padding: 20px; /* ระยะห่างภายใน */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* เงาเล็กน้อย */
    margin: 20px auto; /* จัดกึ่งกลางและเพิ่มระยะห่างด้านบนล่าง */
    max-width: 500px; /* กำหนดความกว้างสูงสุด */
    text-align: left; /* จัดเนื้อหาให้อยู่ตรงกลาง */
}